* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #EEFAFA;    /*EEFAFA*/
}

/*#content {
    display: block;
    min-height: 100%;
}
*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/*------------------------------------------------ CONTENITORI DELLA PAGINA --------------------------------------------------------------*/
#page-content {
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 4em;
    min-height: 20em;
    text-align: center;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    box-shadow: lightgray 1px 1px 4px;
}

#home-container {
    width: 50%;
}

.container {
    width: 65%;
}

.sidebar-container {
    margin-left: 23% !important;
}

.container, #home-container{
    min-height: 22em;
    margin: auto;
    padding: 2em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: white;
    text-align: center;
    box-shadow: lightgray 1px 1px 4px;
}

/* responsive page for large resolutions */
@media (min-width: 1600px) {
    .container {
        width: 50%;
        min-height: 25em;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 3em;
    }
}

.container-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.container-description {
    padding-top: 2em;
    padding-bottom: 2em;
}

.table-header {
    font-weight: bold;
}

.table-row {
    box-shadow: lightgrey 0em 0.2em 0.2em, lightgrey 0em -0.02em 0em;
}

.table-row img {
    display: inline-block;
    position: absolute;
    width: 2em;
    height: 2em;
    margin-left: -1.8em;
    margin-top: -0.2em;
}

.table-row-icon {
    position: absolute;
    margin-left: -0.8em;
    margin-top: -0.2em;
    color: darkgray;
}

.table-column-small {
    width: 10%;
    box-shadow: none;
}

.table-column-normal {
    width: 16%;
}

.table-column-big {
    width: 35%;
}

.table-spacing {
    width: 1.8em;
}

.table-header span, .table-row span {
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

/*---------------------------------------------------- FORM ------------------------------------------------------------------*/
#errors {
    padding-top: 1em;
    color: red;
}

.error-item {
    margin-bottom: 0.2em;
}

.form-container{
    width: 25em;
    margin: auto;
}

.form-field {
    height: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.form-field > label {
    float: left;
    margin-top: 0.5em;
}

.form-field > input {
    float: right;
}

.form-field > p {
    float: right;
    margin-top: 0.5em;
    width: 15em;
    text-align: center;
}

.form-vertical-block {
    margin-top: 1em;
}

.form-right-block {
    float: right;
    min-width: 16em;
    font-size: 0.8em;
    margin-top: 0.5em;
    text-align: center;
}

.form-right-block > label {
    margin: 0 0.5em 0 0.5em;
}

.form-right-block > input {
    margin: 0.5em;
}

.form-right-block-checkbox {
    float: right;
    min-width: 16em;
    font-size: 0.8em;
    margin-top: 1em;
    text-align: center;
    margin-right: 6em;
}

.form-submit, .button {
    margin-top: 2em;
    margin-bottom: 1em;
    cursor: pointer;
    font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:16px;
	font-weight:700;
	padding: 0.6em 3em;
	text-shadow: black 1px 1px 2px;
    text-decoration: none;
	color: white;
	background-color: #333;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: rgba(0,0,0,0.2) 0 1px 0 1px;
	-webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 0 1px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0 1px 0 1px;
}

.inline-button {
    margin-left: 0.5em;
    margin-right: 0.5em;
    cursor: pointer;
    font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:16px;
	font-weight:700;
	padding: 0.5em 2em;
	text-shadow: black 1px 1px 2px;
    text-decoration: none;
	color: white;
	background-color: #333;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: rgba(0,0,0,0.2) 0 1px 0 1px;
	-webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 0 1px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0 1px 0 1px;
}

.form-submit:hover, .button:hover, .inline-button:hover {
    box-shadow: lightgreen 0.1em 0.1em, lightgreen -0.1em -0.1em, lightgreen -0.1em 0.1em, lightgreen 0.1em -0.1em;
}

.iconized-input {
    padding-left: 3em;
}

.input-icon {
    position: absolute;
    margin-top: 0.2em;
    margin-left: 0.5em;
    vertical-align: middle;
    color: #333;
}

input {
	font-size: 1em;
	font-family: Verdana;
	line-height: 2em;
    padding-left: 0.5em;
	border: 1px solid lightgray;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}



/*---------------------------------------------------- MATERIAL DESIGN TOGGLE ----------------------------------------------*/
.lbl {
    position: relative;
    display: block;
    height: 20px;
    width: 44px;
    background: #898989;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    float: right;
}

.lbl:after {
    position: absolute;
    left: -2px;
    top: -3px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: #e1e1e1;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
    content: '';
    transition: all 0.3s ease;
}

.lbl:active:after { 
    transform: scale(1.15, 0.85);
}

.cbx:checked ~ label { 
    background: lightgreen;
}

.cbx:checked ~ label:after {
    left: 20px;
    background: #149714;
}

.cbx:disabled ~ label {
    background: #d5d5d5;
    pointer-events: none;
}

.cbx:disabled ~ label:after {
    background: #bcbdbc;
}
 
.hidden {
    display: none;
}

/*---------------------------------------- SELECT BOX ----------------------------------------------------------------*/

.select {
    font-family: "Verdana", sans-serif;
    padding: 0.5em 3em 0.5em 1em;
    vertical-align: middle;
    font-size: 0.9em;
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid lightgray;
    -webkit-appearance: none;
   -moz-appearance: none;
    appearance: none;
    background: url("../images/select.png") 95% / 16% no-repeat white;
}

/*---------------------------------------------------- HEADER ------------------------------------------------------------------*/
#header {
    width: 100%;
    margin: auto;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    background-color: #333;
    box-shadow: lightgreen 0 0.2em;
}

#header-title {
    font-size: 2.2em;
    margin-left: 2em;
    margin-right: 2em;
    min-height: 1.2em;
}

#header #header-description {
    display: inline-block;
    margin-left: -1em;
    margin-right: 1em;
    vertical-align: middle;
}

#header a {
    margin-left: 1em;
    margin-right: 1em;
    color: white;
    text-decoration: none;
}

#header a:hover {
    color: lightgreen;

}

#header-menu {
    display: inline;
}

#header-panel {
    float: right;
    margin-right: 4em;
    min-width: 15em;
    text-align: right;
    min-height: 2.5em;
    line-height: 2.5em;
}

#header-panel ul {
    list-style-type: none;
}

#header-panel i, a {
    display: inline-block;
    vertical-align: middle;
}

#header-user-name {
    margin-right: 1em;
}

#header-dropdown {
    margin-top: 0.7em;
    margin-left: 4em;
    margin-right: 2em;
}

#header-dropdown::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 3.5em;
    margin-left: -0.7em;
    border-width: 0.7em;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

#header-dropdown ul li {
    width: 10em;
    margin: auto;
    color: black;
    display: inline-block;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

#header-dropdown ul li:hover {
    color: lightgrey;
}

#header-dropdown i {
    margin-right: 0.5em;
}

#company-tooltip {
    margin-top: 0.5em;
    left: 5em;
}

#profile-tooltip {
    margin-top: 0.5em;
    right: 8em;
}

#settings-tooltip {
    margin-top: 0.5em;
    right: 3.3em;
}

/*----------------------------------------------- FOOTER --------------------------------------------*/
#footer{
	background-color: #292c2f;
	box-sizing: border-box;
	color: #ffffff;
	box-shadow: lightgreen 0 -0.2em;
	margin-top: 5em;
	min-height: 15em;
}

#footer a {
    margin-left: 1em;
    margin-right: 1em;
    color: white;
    text-decoration: none;
}

#footer a:hover{
	color: lightgreen;
}

.text-footer{
    margin-top:6%;
	font-size: 12px;
	font-weight: normal;
	color:  lightgreen;
}

#footer .footer-left,
#footer .footer-centerUnLooged,
#footer .footer-centerLooged,
#footer .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
#footer .footer-left{
	width: 33%;
	margin-top: 5em;
	text-align: center;
}

#footer .footer-left img{
	width: 55%;
}

/* Footer links */
#footer .footer-links{
	margin: 20px 0 12px;
	padding: 0;
}

#footer .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
}

/* Footer Center */
#footer .footer-centerLooged,
#footer .footer-centerUnLooged{
	text-align: center;
	margin-top: 2em;
	color: #ffffff;
	width: 33%;
}

#footer .footer-centerLooged,
#footer .footer-centerUnLooged h1{
    margin-bottom: 3.5%;
}

#footer .footer-centerLooged,
#footer .footer-centerUnLooged {
	text-decoration: none;
}

/* Footer Right */

#footer .footer-right{
	width: 33%;
	margin-top: 2em;
	text-align: center;
}

#footer .footer-right img{
	width: 50%;
}

/* Responsive */
@media (max-width: 880px) {

	#footer{
		font: bold 14px sans-serif;
	}

	#footer .footer-left,
	#footer .footer-centerLooged,
	#footer .footer-centerUnLooged,
	#footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

    #footer .footer-centerLooged,
	#footer .footer-centerUnLooged i{
		margin-left: 0;
	}

}

/*-------------------------------------------- DROPDOWN / POPUP -----------------------------------------------------------------------*/
@-moz-keyframes dropDown {
    0% { -moz-transform: translateY(-1em); }
    100% { -moz-transform: translateY(0); }
}
@-webkit-keyframes dropDown {
    0% { -webkit-transform: translateY(-1em); opacity: 0;}
    100% { -webkit-transform: translateY(0); opacity: 1;}
}
@keyframes dropDown {
    0% { transform: translateY(-1em); opacity: 0;}
    100% { transform: translateY(0); opacity: 1;}
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 1em 0.5em 1em 0.5em;
    text-align: left;
    background-color: white;
    /*overflow: auto;*/
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
    border: lightgray 1px solid;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
}

.dropdown-show {
    display: block;
    z-index: 10;
    -moz-animation-name: dropDown;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-duration: 0.4s;

    -webkit-animation-name: dropDown;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.4s;

    animation-name: dropDown;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.4s;
}

.dropdown-title {
    text-align: center;
    font-size: 1.8em;
}

.dropdown-description {
    text-align: center;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    min-height: 1em;
}

.dropdown-buttons {
    text-align: center;
    margin-top: 3%;
}

.dropdown-popup {
    width: 28%;
    height: 22%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 25%; right: 0;
}

@media (max-width: 1400px) {
    .dropdown-popup {
        width: 35%;
        height: 30%;
    }
}


/*-------------------------------------------------- SIDEBAR -----------------------------------------------------------------------*/
#sidebar {
    position: absolute;
    margin-left: -0.5em;
    width: 22%;
    min-height: 26em;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: lightgray 1px 1px 4px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-animation-name: dropDown;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-duration: 1s;

    -webkit-animation-name: dropDown;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 1s;

    animation-name: dropDown;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
}

/* responsive page for large resolutions */
@media (min-width: 1600px) {
    #sidebar {
         min-height: 30em;
    }
}

#sidebar-title {
    padding: 1em 2em 1.5em 2em;
    text-align: center;
    font-size: 1.25em;
    box-shadow: lightgrey 0em 0.1em 0.1em;
}

#sidebar-title a {
    color: black;
    text-decoration: none;
}

#sidebar .sidebar-field {
    padding-left: 3em;
    box-shadow: lightgrey 0em 0.2em 0.2em;
}

#sidebar .sidebar-field i {
    vertical-align: middle;
    padding-right: 1em;
}

#sidebar .sidebar-field a {
    width: 100%;
    padding: 1em;
    color: black;
    text-decoration: none;
}

#sidebar a:hover {
    color: lightgrey;
    cursor: pointer;
}

/*-------------------------------------------------- SLIDER -----------------------------------------------------------------------*/
.slick-list {
    position: relative;
    display: block;
    height: 50%;
    overflow: hidden;
    padding-bottom: 1em;
    border-radius: 0.2em;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots {
    display: block;
}

.slick-dots li {
    display: inline-block;
    list-style: none;
    margin: 0.2em 1em;
}

.slick-dots li button {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.slick-dots li button:hover {
    border: 2px solid #333;
}

.slick-dots .slick-active button {
    color: white;
    background-color: #333;
}

.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    margin: 0.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: default;
}

.slick-prev i, .slick-next i {
    padding: 0.4em ;
    border-radius: 5em;
    border: 2px solid lightgray;
    color: white;
    background-color: #333;
}

.slick-prev i:hover, .slick-next i:hover {
    content:"";
    display:block;
    border: 2px solid lightgreen;
}

.slick-prev {
    left: 15%;
}

.slick-next {
    right: 15%;
}

.slider-container {
    margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}

@media (max-width: 1400px) {
    .slick-prev {
        left: 10%;
    }
    
    .slick-next {
        right: 10%;
    }
    .slick-prev, .slick-next {
        top: 60%;
    }
}

/*-------------------------------------------------- HOME -----------------------------------------------------------------------*/
#home {
    text-align: center;
}

#home-title {
    padding: 2em 1em 1em 1em;
}

#home-description {
    padding-bottom: 2em;
}

@media (max-width: 1400px) {
    #home-title {
        padding: 1em;
    }
}

/*------------------------------------------------- LOGIN --------------------------------------------------------------------*/
.login-input {
    width: 15em;
}

#login-help {
    font-size: 0.8em;
    padding: 1em 0em 0.5em 0em;
}

.help-link {
    display: inline-block;
    color: black;
    vertical-align: top;
}

.help-link:hover {
    color: lightgrey;
}

/*--------------------------------------------- SUCCESSFUL OPERATIONS ------------------------------------------------------------------*/
                                    /* REGISTER, RESET, CHANGE PASSWORD */
#successful-operation {
    padding-top: 2em;
}

#successful-operation p {
    padding-bottom: 1em;
}

#successful-email {
    font-family: sans-serif;
    font-weight: bold;
}

#successful-button {
    margin-bottom: 2em;
}

/*-------------------------------------------- RESET PASSWORD ------------------------------------------------------------------*/
#reset-password form {
    margin-top: 2em;
}

/*--------------------------------------------- PROFILE ------------------------------------------------------------------*/
#avatar {
    height: 5em;
    width: 5em;
    margin: 0 1em 2em 1em;
}

#avatar-i {
    font-size: 6em;
    color: darkgray;
    margin: 0 0.1em 0.2em 0.1em;
}

#left-arrow {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin-left: -1em;
    margin-top: -0.3em;
}

#avatar-container{
    min-height: 10em;
}

#avatar-label {
    margin-top: 5em;
}

#dropzone-container {
    float: right;
}

#dropzone {
    display: inline-block;
    max-height: 10em;
    max-width: 10em;
    margin: 0 1em 1em 1em;
}

.dropzone-description {
    padding-top: 1.5em;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

#preview {
    display: inline-block;
    margin: 1em;
}

#preview img {
    width: 6em;
    height: 6em;
}


/*------------------------------------------- ERROR 404 ------------------------------------------------------------------*/
#alert {
    display: block;
    font-size: 10em;
    margin: auto;
    padding-top: 0.2em;
    color: lightgray;
}

#links a {
    color: black;
    text-decoration: none;
}

#links a:hover {
    color: lightgray;
}


/*------------------------------------------------ EDITOR --------------------------------------------------------------*/
#editor {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        text-align: left;
}

#editorContainerPreview{
    position: relative;
    width: 70%;
    min-height: 20em;
    margin:auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid lightgrey;
}

#editor-container {
    width: 70%;
    min-height: 35em;
    margin: auto;
    padding: 2em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: white;
    text-align: center;
    box-shadow: lightgray 1px 1px 4px;
}

#editor-back-button {
    position: absolute;
    margin-top: -1.5em;
    margin-left: -1em;
    display: block;
}

#editor-back-button i {
    /*padding: 0.15;*/
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*border-radius: 5px;*/
    color: #333;
}

#editor-back-button i:hover {
    color: lightgray;
}

#editor-controls {
    margin-bottom: 1.5em;
    min-height: 3em;
}

#editor-controls form {
    margin-top: 0.3em;
    display: inline-block;
    vertical-align: middle;
}

#editor-controls form label {
    margin-right: 1em;
}

#definiton-name {
    float: left;
    margin-left: 15%;
}

#editor-buttons {
    min-width: 15em;
    margin: auto;
    display: inline-block;
    text-align: center;
}

#editor-buttons div {
    margin-left: 1em;
    margin-right: 1em;
}

#editor-controls i {
    vertical-align: middle;
    padding: 0.15em;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #333;
}

#save-button {
    color: #E93F2C !important;
}

#editor-controls .saved {
    color: #333 !important;
}

#editor-controls i:hover {
    color: lightgreen !important;
    background-color: #333;
}

#definition-type {
    float: right;
    margin-right: 15%;
}

#editor-viewer {
    position: relative;
    width: 70%;
    min-height: 30em;
    margin:auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid lightgrey;
}

@media (max-width: 1400px) {
    #editor-container {
        width: 80%;
        min-height: 5em;
        margin: auto;
        padding: 2em;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid lightgray;
        background-color: white;
        text-align: center;
        box-shadow: lightgray 1px 1px 4px;
    }
    
    #editor-controls #definiton-name {
        margin-left: 10%;
    }
    
    #definition-type {
        margin-right: 10%;
    }
    
    #editor-viewer {
        position: relative;
        width: 80%;
        min-height: 25em;
        margin:auto;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 2px solid lightgrey;
    }
}

/*------------------------------------------- MANAGE DSL DEFINITION --------------------------------------------------------------*/
.dsl-buttons {
    text-align: center;
}

.dsl-buttons a {
    color: black;
}

.dsl-buttons i {
    vertical-align: middle;
    margin-left: 1em;
    margin-right: 1em;
}

#dsl-modify:hover {
    color: orange;
}

#dsl-change-permission:hover {
    color: #60D42E;
}

/*------------------------------------------------ TOOLTIPs --------------------------------------------------------------*/
@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% {  opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.tooltip {
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 6em;
    text-align: center !important;
    font-size: 0.9em;
    margin-left: -2em;
    padding: 0.2em 0.5em 0.3em 0.5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
    border: darkgray 1px solid;
    background-color: #111;
    color: white;
    line-height: normal;
}

.tooltip .tooltip-text-short {
    width: 4em;
    margin-left: -1em;
}

.tooltip .tooltip-text-long {
    width: 8em;
    margin-left: -3em;
}

.tooltip .tooltip-text-longest {
    width: 12em;
    margin-left: -5em;
}

.tooltip-top .tooltip-text {
    margin-top: -2.5em;
}

.tooltip-top .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.5em;
    border-width: 0.5em;
    border-style: solid;
    border-color: #111 transparent transparent transparent;
}

.tooltip-bottom .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -0.5em;
    border-width: 0.5em;
    border-style: solid;
    border-color: transparent transparent #111 transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    z-index: 11;
    -moz-animation-name: fadeIn;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-delay: 0.6s;
    -moz-animation-fill-mode: backwards;
    -moz-animation-duration: 0.3s;

    -webkit-animation-name: fadeIn;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-delay: 0.6s;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-duration: 0.3s;

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-delay: 0.6s;
    animation-fill-mode: backwards;
    animation-duration: 0.3s;
}
 
/*------------------------------------------------ PEOPLE --------------------------------------------------------------*/
#role-explaination {
    list-style: none;
    margin-top: 1em;
    text-align: center;
}

#role-explaination .role {
    display: inline-block;
    width: 8em;
    font-weight: bold;
    text-align: center;
}

#role-explaination .role-description {
    display: inline-block;
    width: 25em;
    margin: auto;
    margin-left: 1%;
    text-align: left;
}

#user-profile {
    background-color: #E8F0F0;
    margin-top: 0.2em;
}

/*------------------------------------------------ DELETE USER, DELETE COMPANY, CHANGE ROLE --------------------------------------------------------------*/
#delete-user, #change-role {
    display: inline;
}

#delete-user i, #change-role i {
    cursor: pointer;
    vertical-align: middle;
    padding: 0.1em;
}

#delete-user i:hover {
    color: red;
}

#change-role i:hover {
    color: lightgrey;
}

#change-role select  {
    display: block;
    margin: auto;
    margin-bottom: 3em;
}

#change-role-dropdown {
    height: 25%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 25%; right: 0;
}

@media (max-width: 1400px) {
    #change-role-dropdown {
        width: 35%;
        height: 35%;
    }
}

#confirm-button {
    margin-left: 3em;
    background-color: #60D42E;
}

#confirm-button:hover {
    box-shadow: darkgreen 0.1em 0.1em, darkgreen -0.1em -0.1em, darkgreen -0.1em 0.1em, darkgreen 0.1em -0.1em;
}

#delete-button {
    margin-left: 3em;
    background-color: #E93F2C;
}

#delete-button:hover {
    box-shadow: darkred 0.1em 0.1em, darkred -0.1em -0.1em, darkred -0.1em 0.1em, darkred 0.1em -0.1em;
}

/*------------------------------------------------ INVITE --------------------------------------------------------------*/
#invite {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#invite select {
    display: inline-block;
    margin-right: 2em;
}

#invite option {
    border-radius: 4px;
}

#invite input {
    width: 15em;
    vertical-align: middle;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
}

#invite-button {
    margin-left: 2em;
}

#invite-dropdown {
    width: 22%;
    height: 15%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 25%; right: 0;
}

@media (max-width: 1400px) {
    #invite-dropdown {
        width: 22%;
        height: 20%;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 25%; right: 0;
    }
}

/*------------------------------------------------ EXTERNALDATABASES ---------------------------------------------------------*/

.externaldb {
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
}

.externaldb input{
    color: #555;
    text-align: center;
    width: 70%;
    padding: 3px 0px 3px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    height: 25px;
    line-height:15px;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}


/*------------------------------------------------ DASHBOARD SUPERADMIN ---------------------------------------------------------*/

.dashCont{
    width: 100%;
    text-align:center;
}

.dashElement {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    height: 15em;
    margin: auto;
    margin-left:1em;
    -moz-border-radius: 5px;
    border-radius: 10px;
    border: 2px solid lightgrey;
    font-family:'Helvetica Neue',Arial,sans-serif;
    text-align: center;
	font-size:16px;
	font-weight:700;
	text-shadow: black 1px 1px 2px;
    text-decoration: none;
	color: white;
	background-color: #333;
	-moz-box-shadow: rgba(0,0,0,0.2) 0 1px 0 1px;
}
.dashElement:hover{
    border: 2px solid lightgreen;
}

.material-icons-dashboard{
      font-family: 'Material Icons';
      clear:both;
      width:100%;
      font-weight: normal;
      font-style: normal;
      font-size: 10em;  /* Preferred icon size */
      display: inline-block;
      line-height: 1;
      text-align:center;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;
}
   
.dashCont a:hover {
    color: lightgreen;   
  }
