@import "slick-carousel/slick/slick"; /* (T)  */
@import "./normalize";


* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #EEFAFA;    /*EEFAFA*/
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/*------------------------------------------------ CONTENITORI DELLA PAGINA --------------------------------------------------------------*/

#page-content {
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 4em;
    min-height: 20em;
    text-align: center;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    box-shadow: lightgray 1px 1px 4px;
}

.container {
    width: 50%;
    min-height: 22em;
    margin: auto;
    padding: 2em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: white;
    text-align: center;
    box-shadow: lightgray 1px 1px 4px;
}

.container-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.container-description {
    padding-top: 2em;
    padding-bottom: 2em;
}

.table-content p {
    display: inline-block;
}

.table-header {
    font-weight: bold;
    box-shadow: lightgrey 0em -0.05em 0.1em, lightgrey 0em 0.2em 0.2em;
}

.table-header span {
    box-shadow: lightgrey -0.05em 0em 0.1em;
}


.table-row {
    box-shadow: lightgrey 0em 0.2em 0.2em;
}

.table-row img {
    display: inline-block;
    position: absolute;
    width: 2em;
    height: 2em;
    margin-left: -2em;
    margin-top: -0.2em;
    background-color: lightgray;
}

.table-column-small {
    width: 10%;
    box-shadow: none;
}

.table-column-normal {
    width: 16%;
}

.table-column-big {
    width: 35%;
}

.table-header span, .table-row span {
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

/*---------------------------------------------------- FORM ------------------------------------------------------------------*/

#errors {
    padding-top: 1em;
    color: red;
}

.form-container{
    width: 25em;
    margin: auto;
}

.form-field {
    height: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.form-field > label {
    float: left;
    margin-top: 0.5em;
}

.form-field > input {
    float: right;
}

.form-field > p {
    float: right;
    margin-top: 0.5em;
    width: 15em;
    text-align: center;
}

.form-vertical-block {
    margin-top: 1em;
}

.form-right-block {
    float: right;
    min-width: 16em;
    font-size: 0.8em;
    margin-top: 0.5em;
    text-align: center;
}

.form-right-block > label {
    margin: 0 0.5em 0 0.5em;
}

.form-right-block > input {
    margin: 0.5em;
}

.form-submit, .button {
    margin-top: 2em;
    margin-bottom: 1em;
    cursor: pointer;
    font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:16px;
	font-weight:700;
	padding: 0.6em 3em;
	text-shadow: black 1px 1px 2px;
    text-decoration: none;
	color: white;
	background-color: #333;
	border: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: rgba(0,0,0,0.2) 0 1px 0 1px;
	-webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 0 1px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0 1px 0 1px;
}

.form-submit:hover, .button:hover {
    box-shadow: lightgreen 0.1em 0.1em, lightgreen -0.1em -0.1em, lightgreen -0.1em 0.1em, lightgreen 0.1em -0.1em;
}

input {
	font-size: 1em;
	font-family: Verdana;
	line-height: 2em;
    padding-left: 0.5em;
	border: 1px solid lightgray;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

.iconized-input {
    padding-left: 3em;
}

.input-icon {
    position: absolute;
    margin-top: 0.2em;
    margin-left: 0.5em;
    vertical-align: middle;
    color: #333;
}

/*---------------------------------------------------- HEADER ------------------------------------------------------------------*/

#header {
    width: 100%;
    margin: auto;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    background-color: #333;
    box-shadow: lightgreen 0 0.2em;
}

#header-title {
    font-size: 2.2em;
    margin-left: 2em;
    margin-right: 2em;
    min-height: 1.2em;
}

#header #header-description {
    display: inline-block;
    margin-left: -1em;
    margin-right: 1em;
    vertical-align: middle;
}

#header a {
    margin-left: 1em;
    margin-right: 1em;
    color: white;
    text-decoration: none;
}

#header a:hover {
    color: lightgreen;

}

#header #header-menu {
    display: inline;
}

#header #header-panel {
    float: right;
    margin-right: 4em;
    min-width: 15em;
    text-align: right;
    min-height: 2.5em;
    line-height: 2.5em;
}

#header #header-panel ul {
    list-style-type: none;
}

#header #header-panel i, a {
    display: inline-block;
    vertical-align: middle;
}

#header-user-name {
    margin-right: 1em;
}

/*----------------------------------------------- FOOTER --------------------------------------------*/

#footer{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	color: #ffffff;
	box-shadow: lightgreen 0 -0.2em;
	padding: 1px 15px;
	margin-top: 50px;
}

#footer a {
    margin-left: 1em;
    margin-right: 1em;
    color: white;
    text-decoration: none;
}

.footer-center .text-footer{
    margin-top:6%;
	font-size: 12px;
	font-weight: normal;
}

#footer.footer-center.text-footer {
  font-size: 2pt;
}


#footer .footer-left,
#footer .footer-centerUnLooged,
#footer .footer-centerLooged,
#footer .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

#footer .footer-left{
	margin-top: 3%;
	width: 33%;
	text-align: center;
}

#footer .footer-left img{
	width:55%;
	margin-top: 2%;
	margin-bottom: 10%;
}

/* Footer links */

#footer .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

#footer .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

/* Footer Center */

#footer .footer-centerUnLooged{
	text-align: center;
	margin-top: 1%;
	color: #ffffff;
	width: 33%;
}


#footer .footer-centerUnLooged h1{
    margin-bottom: 3.5%;
}

#footer .footer-centerUnLooged p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

#footer .footer-right{
	width: 33%;
	text-align: center;
}

#footer .footer-right img{
	width:50%;
}

/* Responive */

@media (max-width: 880px) {

	#footer{
		font: bold 14px sans-serif;
	}

	#footer .footer-left,
	#footer .footer-centerLooged
	#footer .footer-centerUnLooged,
	#footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

    #footer .footer-centerLooged
	#footer .footer-centerUnLooged i{
		margin-left: 0;
	}

}



/*-------------------------------------------- MENU DROPDOWN -----------------------------------------------------------------------*/

@-moz-keyframes dropDown {
    0% { -moz-transform: translateY(-1em); }
    100% { -moz-transform: translateY(0); }
}
@-webkit-keyframes dropDown {
    0% { -webkit-transform: translateY(-1em); opacity: 0;}
    100% { -webkit-transform: translateY(0); opacity: 1;}
}
@keyframes dropDown {
    0% { transform: translateY(-1em); opacity: 0;}
    100% { transform: translateY(0); opacity: 1;}
}

.dropdown-button:focus {
    color: lightgreen;
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 0.5em;
    margin-left: 4em;
    margin-right: 2em;
    padding: 1em 0.5em 1em 0.5em;
    text-align: left;
    background-color: white;
    overflow: auto;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
}

.dropdown-content ul li {
    width: 10em;
    margin: auto;
    color: black;
    display: inline-block;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.dropdown-content ul li:hover {
    color: lightgrey;
}

.dropdown-show {
    display: block;
    -moz-animation-name: dropDown;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-duration: 0.4s;

    -webkit-animation-name: dropDown;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.4s;

    animation-name: dropDown;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.4s;
}

/*-------------------------------------------------- SIDEBAR -----------------------------------------------------------------------*/

#sidebar {
    position: absolute;
    margin-left: -0.5em;
    width: 22%;
    min-height: 26em;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: lightgray 1px 1px 4px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-animation-name: dropDown;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-duration: 1s;

    -webkit-animation-name: dropDown;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 1s;

    animation-name: dropDown;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
}

#sidebar-title {
    padding: 1em 2em 1.5em 2em;
    text-align: center;
    font-size: 1.25em;
    box-shadow: lightgrey 0em 0.1em 0.1em;
}

#sidebar-title a {
    color: black;
    text-decoration: none;
}

#sidebar .sidebar-field {
    padding-left: 3em;
    box-shadow: lightgrey 0em 0.2em 0.2em;
}

#sidebar .sidebar-field i {
    vertical-align: middle;
    padding-right: 1em;
}

#sidebar .sidebar-field a {
    width: 100%;
    padding: 1em;
    color: black;
    text-decoration: none;
}

#sidebar a:hover {
    color: lightgrey;
}

/*-------------------------------------------------- SLIDER -----------------------------------------------------------------------*/

.slick-list {
    position: relative;
    display: block;
    height: 50%;
    overflow: hidden;
    padding-bottom: 1em;
    border-radius: 0.2em;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots {
    display: block;
}

.slick-dots li {
    display: inline-block;
    list-style: none;
    margin: 0.2em 1em;
}

.slick-dots li button {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.slick-dots li button:hover {
    border: 2px solid #333;
}

.slick-dots .slick-active button {
    color: white;
    background-color: #333;
}

.slick-prev, .slick-next{
    position: absolute;
    top: 50%;
    margin: 0.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: default;
}

.slick-prev i, .slick-next i {
    padding: 0.4em ;
    border-radius: 5em;
    border: 2px solid lightgray;
    color: white;
    background-color: #333;
}

.slick-prev i:hover, .slick-next i:hover {
    content:"";
    display:block;
    border: 2px solid lightgreen;
}

.slick-prev {
    left: 15%;
}

.slick-next {
    right: 15%;
}

.slider-container {
    margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}

/*-------------------------------------------------- HOME -----------------------------------------------------------------------*/

#home {
    text-align: center;
}

#home-title {
    padding: 2em 1em 1em 1em;
}

#home-description {
    padding-bottom: 2em;
}

/*------------------------------------------------- LOGIN --------------------------------------------------------------------*/

#login-help {
    font-size: 0.8em;
    padding: 1em 0em 0.5em 0em;
}

.help-link {
    display: inline-block;
    color: black;
    vertical-align: top;
}

.help-link:hover {
    color: lightgrey;
}

/*--------------------------------------------- SUCCESSFUL OPERATIONS ------------------------------------------------------------------*/
                                    /* REGISTER, RESET, CHANGE PASSWORD */

#successful-operation {
    padding-top: 2em;
}

#successful-operation p {
    padding-bottom: 1em;
}

#successful-email {
    font-family: sans-serif;
    font-weight: bold;
}

#successful-button {
    margin-bottom: 2em;
}

/*-------------------------------------------- RESET PASSWORD ------------------------------------------------------------------*/

#reset-password form {
    margin-top: 2em;
}

/*--------------------------------------------- PROFILE ------------------------------------------------------------------*/

#avatar {
    height: 5em;
    width: 5em;
    margin: 0 1em 2em 1em;
    background-color: gray;
}

#left-arrow {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin-left: -1em;
    margin-top: -0.3em;
}

#avatar-container{
    min-height: 10em;
}

#avatar-label {
    margin-top: 5em;
}

#dropzone-container {
    float: right;
}

#dropzone {
    display: inline-block;
    max-height: 10em;
    max-width: 10em;
    margin: 0 1em 1em 1em;
}

.dropzone-description {
    padding-top: 1.5em;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

#preview {
    display: inline-block;
    margin: 1em;
}

#preview img {
    width: 6em;
    height: 6em;
}


/*------------------------------------------- ERROR 404 ------------------------------------------------------------------*/

#sorry {
    font-family: arial;
}

#alert {
    display: block;
    font-size: 10em;
    margin: auto;
    padding-top: 0.2em;
    color: lightgray;
}

#links a {
    color: black;
    text-decoration: none;
}

#links a:hover {
    color: lightgray;
}

/*------------------------------------------------ EDITOR --------------------------------------------------------------*/
#editor {
       position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
}
