<div style="text-align: center; color: black;">
    <h1 style="font-size: 1.8em;">Password reset</h1>
    <% if (typeof name !== 'undefined') { %>
      <p>Dear <%= name %>,</p>
    <% } %>
    <p>You have requested to reset the password of your MaaS account.</p>
    <p>Please click on the link below to choose a new password:</p>
    <div style="padding: 2em;">
        <a href="<%= resetHref %>" style="margin: 1em;
                                        padding: 1em 2em;
                                        background-color: #333;
                                        border-radius: 0.5em;
                                        -webkit-box-shadow: 2px 2px 5px 0px #d3d3d3;
                                        -moz-box-shadow:    2px 2px 5px 0px #d3d3d3;
                                        box-shadow:         2px 2px 5px 0px #d3d3d3;
                                        color: #90EE90;
                                        text-decoration: none;
                                        font-weight: bold">Choose a new password</a>
    </div>
    <p>Or copy and paste this link into your browser:</p>
    <p><%= resetHref %></p>
    <p>If you didn't require to reset your password just ignore this email.</p>
    <p>MaaS team</p>
</div>