<div style="text-align: center; color: black;">
    <h1 style="font-size: 1.8em;">Data Sharing</h1>
    <p><%= sender %> decided to share with you this data from MaaS.</p>
    <div style="padding: 1em;">
        <p style="font-weight: bold">Just open attachments of this message</p>
    </div>
    <p>If you don't want to see this data just ignore this email.</p>
    <p>MaaS team</p>
</div>